@page "/Supervisor"
@using System.Collections;

<h3>Supervisor</h3>
<p>Balena address = @address</p>
<p>Api key = @apiKey</p>
<MudButton @onclick="() => GetBasicStatusInfo()">Basic Info</MudButton>
<MudButton @onclick="() => GetVpnInfo()">Vpn</MudButton>
<MudButton @onclick="() => Getv2State()">V2state</MudButton>
<MudButton @onclick="() => RestartTheWifiCtrl()">Restart Wifi</MudButton>
<MudButton @onclick="() => RestartWebApp()">Restart Web App</MudButton>
<MudButton @onclick="() => RestartEntireDevice()">Restart Raspberry Pi</MudButton>
<p>Message</p>
<p>@returnedMessage</p>


