<h5>Edit Vocab Words</h5>
<MudContainer Style="max-height: 80vh; overflow-y: scroll">
    <MudDialog>
        <DialogContent>
            <MudItem xs="12" sm="6" md="3">
                <MudSwitch Color="Color.Primary" label="Spanish" @bind-Checked="_savedVocab.IsSpanish" />
            </MudItem>
            <MudTextField Lines=15 @bind-Value="SavedWordsConcat" Label="Words" Variant="Variant.Text"></MudTextField>

            <MudButton @onclick="() => Save()">Save</MudButton>
        </DialogContent>
        <DialogActions>
            <MudButton @onclick="() => CloseWithoutSaving()">Close Without Saving</MudButton>
        </DialogActions>

    </MudDialog>
</MudContainer>