table.buttonTable {
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

    table.buttonTable tr {
        line-height: 18px;
        display: block;
    }


.buttonTable td {
    height: 18px;
    width: 18px;
}

button.removeButton {
    display: block;
}

button.mainButton {
    display: block;
    border: none;
    background-color: white;
}
