@namespace BAP.UIHelpers
@using MudBlazor

@page "/buttonlogs"
<h3>Button Message Log</h3>

<MudButton OnClick="() => Clear()">Clear Log</MudButton>
<ol>

    @foreach (var msg in messageQueue.OrderByDescending(t => t.itemNumber))
    {
        <li>@msg.timeRecievedUTC.ToLocalTime().ToString("hh:mm:ss.fff")  @msg.message</li>
    }
</ol>