<h5>@Description</h5>

<MudContainer Style="max-height: 80vh; overflow-y: scroll">
	<MudDialog>
		<DialogContent>
			<MudSimpleTable Style="overflow-x: auto;">
				<thead>
					<tr>
						<th>User Name</th>
						<th>Score</th>
						<th>Score Description</th>
						@if (Scores.Where(t => t.ScoreId == 0).Count() > 0)
						{
							<th style="width:50">Save </th>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var score in Scores.OrderByDescending(t => t.NormalizedScore))
					{
						<tr>
							@if (score.ScoreId == 0)
							{
								<td> <MudTextField @bind-Value="NewUserName" Label="Player Initials" Variant="Variant.Text"></MudTextField> </td>
							}
							else
							{
								<td>@score.UserName</td>
							}

							<td>@score.NormalizedScore.ToString("#.##")</td>
							<td>@score.ScoreDescription</td>
							@if (score.ScoreId == 0)
							{
								<td> <MudButton @onclick="() => SaveNewHighScore()">Save</MudButton></td>
							}
						</tr>
					}
				</tbody>

			</MudSimpleTable>
		</DialogContent>
		<DialogActions>
			<MudButton @onclick="() => CloseHighScores()">Close High Scores</MudButton>
		</DialogActions>

	</MudDialog>
</MudContainer>


