.countDownTimer {
    margin: 40px;
    font-size: 100px;
    text-align: center;
}

.problem {
    font-size: 50px;
    text-align: center;
}

.left-half {
    float: left;
    width: 50%;
    font-size: 50px;
    text-align: center;
    padding-left: 20px;
}

.right-half {
    float: right;
    width: 50%;
    font-size: 50px;
    text-align: center;
    padding-right: 20px;
}

.score {
    position: relative;
}
