
<div>
    <MudTypography>@MsgSender.GetConnectedButtons().Count</MudTypography>
    @if (LayoutProvider.CurrentButtonLayout != null)
    {
        <MudButton @onclick="() => NavigateToLayout()">
            <MudIcon Title="@LayoutProvider.CurrentButtonLayout.Description" Icon="@Icons.Material.Filled.CheckBox" />
        </MudButton>
    }
    else
    {
        <MudButton @onclick="() => NavigateToLayout()">
            <MudIcon Icon="@Icons.Material.Filled.CheckBoxOutlineBlank" Title="No Layout Selected" />
        </MudButton>
    }
</div>