@page "/Supervisor"
@attribute [MenuItem("Supervisor", "Superbasic component to manage the Balena Instance", false, "a78549d1-90d9-47bf-8304-8113fe94189f")]
@using System.Collections;

<h3>Supervisor</h3>
<p>Balena address = @address</p>
<p>Api key = @apiKey</p>
<MudButton @onclick="() => GetBasicStatusInfo()">Basic Info</MudButton>
<MudButton @onclick="() => GetVpnInfo()">Vpn</MudButton>
<MudButton @onclick="() => Getv2State()">V2state</MudButton>
<MudButton @onclick="() => RestartTheWifiCtrl()">Restart Wifi</MudButton>
<MudButton @onclick="() => RestartWebApp()">Restart Web App</MudButton>
<MudButton @onclick="() => RestartEntireDevice()">Restart Raspberry Pi</MudButton>
<MudButton @onclick="() => ShutdownEntireDevice()">Shutdown Raspberry Pi - Warning Requires Local Bootup</MudButton>
<p>Message</p>
<p>@returnedMessage</p>


